<RadzenFooter class="custom-footer-background">
    <RadzenRow Gap="1rem">
        <RadzenColumn Size="5" class="custom-footer-column-cepi">
            <RadzenRow class="d-flex flex-column custom-footer-bigger-text">
                CEPI
            </RadzenRow>
            <RadzenRow class="d-flex flex-column custom-footer-smaller-text">
                Contact: +1(418)541-2205
            </RadzenRow>
            <RadzenRow class="d-flex flex-column custom-footer-smaller-text">
                E-Mail: aidecepi@Gmail.com
            </RadzenRow>
        </RadzenColumn>
        <RadzenColumn Size="3" class="text-center custom-footer-column-cr">
            <RadzenRow class="d-flex custom-footer-bigger-text">
                Copyright
            </RadzenRow>
            <RadzenRow class="d-flex flex-column custom-footer-smaller-text">
                <div class="d-flex align-items-center">
                    <RadzenIcon Icon="copyright" class="mr-2 custom-footer-icon" />
                    <span>2023 CEPI</span>
                </div>
            </RadzenRow>
        </RadzenColumn>
        <RadzenColumn Size="4" class="text-center">
            <RadzenRow class="d-flex flex-column custom-footer-text-partenaire">
                Nos partenaires
            </RadzenRow>
            <RadzenRow class="d-flex justify-content-center custom-footer-row-img">
                <RadzenImage Path="/RessourceVisuel/LogoCegep.jpg" class="custom-footer-image" />
                <RadzenImage Path="/RessourceVisuel/LogoDICJ.jpg" class="custom-footer-image" /> 
            </RadzenRow>
        </RadzenColumn>
    </RadzenRow>
</RadzenFooter>

@code {

}
