@using STIMULUS_V2.Shared.Models.Authentication;

@inject Microsoft.Extensions.Configuration.IConfiguration config;
@inject AuthenticationStateProvider authStateProvider
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<RadzenHeader class="custom-header-background">
    <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
        <!-- SidebarToggle et Logo dans le même conteneur flex -->
        <div style="display: flex; align-items: center;">
            <RadzenSidebarToggle Click="@ToggleSidebar" />
            <div id="logo-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="150" height="50">
                    <text x="50%" y="50%" font-size="20" stroke-width="2" stroke="#365FA0" fill="lightyellow" id="animated-text" text-anchor="middle" dy="0.3em">
                        C E P I
                    </text>
                </svg>
            </div>
        </div>
        <div style="display: flex; align-items: center;">
            <RadzenProfileMenu Style="background-color: darkblue">
                <Template>
                    <div style="display: flex; flex-direction:row; ">
                        <RadzenIcon Icon="account_circle"></RadzenIcon>
                        <AuthorizeView>
                            <Authorized>
                                @{
                                    sessionStorage.SetItemAsync<string>("idConnexion", context.User.Identity!.Name);
                                 }
                                <span>@context.User.Identity!.Name</span>
                            </Authorized>
                            <NotAuthorized>
                                <span>Guest</span>
                            </NotAuthorized>
                        </AuthorizeView>
                    </div>
                </Template>
                <ChildContent>
                    <AuthorizeView Roles="Prof">
                        <Authorized>
                            <RadzenProfileMenuItem Text="Menu" Path="menu" Icon="list"></RadzenProfileMenuItem>
                        </Authorized>
                    </AuthorizeView>
                    <RadzenProfileMenuItem Text="Réglages" Path="settings" Icon="build"></RadzenProfileMenuItem>
                    <RadzenProfileMenuItem Text="Profil" @onclick="Logout" Icon="account_circle"></RadzenProfileMenuItem>
                    <Button style="width:100%; border:none; background-color: #FFFFFF" @onclick="Logout"><RadzenIcon Icon="exit_to_app" /><span>Déconnexion</span></Button>
                </ChildContent>
            </RadzenProfileMenu>
        </div>
    </div>
</RadzenHeader>

@code {
    [Parameter]
    public bool sidebarExpanded { get; set; } = false;

    [Parameter]
    public EventCallback<bool> SidebarExpandedChanged { get; set; }

    private void ToggleSidebar()
    {
        sidebarExpanded = !sidebarExpanded;
        SidebarExpandedChanged.InvokeAsync(sidebarExpanded);
    }

    public async Task Logout()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(new SessionUtilisateur());
    }
}
