@inject Microsoft.Extensions.Configuration.IConfiguration config;

<RadzenHeader>
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
        <RadzenSidebarToggle Click="@ToggleSidebar" />
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="2rem">
            <RadzenLabel Text=@config["Title"] />
            <div>
                <RadzenBreadCrumb>
                    <RadzenBreadCrumbItem Path="/" Text="GraphHub" />
                    <RadzenBreadCrumbItem Path="/" Text="Gestion des graphs" />
                    <RadzenBreadCrumbItem Path="/" Text="Gestion des groupes" />
                </RadzenBreadCrumb>
            </div>
        </RadzenStack>
    </RadzenStack>
</RadzenHeader>

@code {
    [Parameter]
    public bool sidebarExpanded { get; set; } = false;

    [Parameter]
    public EventCallback<bool> SidebarExpandedChanged { get; set; }

    private void ToggleSidebar()
    {
        sidebarExpanded = !sidebarExpanded;
        SidebarExpandedChanged.InvokeAsync(sidebarExpanded);
    }
}
