@using STIMULUS_V2.Shared.Models.Entities;
<div class="codeSample component">
    <div class="head">
        <p class="title">
            @CodeModel.Titre
        </p>
    </div>
    <pre class="code"><code class="python">
        @CodeModel.Contenue
    </code></pre>
</div>



@code {
    [Inject] private IJSRuntime js { get; set; }

    [Parameter]
    public STIMULUS_V2.Shared.Models.Entities.Code CodeModel { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeVoidAsync("HighlightFunctions.highlightSnippets");
    }
}
