<div class="component">
    <img src="@ImageModel.url" height="@ImageModel.Longueur" width="@ImageModel.Largeur" alt="@ImageModel.Description"/>
</div>
@code {
    [Parameter]
    public STIMULUS_V2.Shared.Models.Entities.Image ImageModel { get; set; }
}
