@* Cette page sera utilisé aux besoins
   @page "/about"

<RadzenRow RowGap="0">
    <RadzenColumn>
        <RadzenCard Class="rz-my-12 rz-mx-auto" Style="max-width: 500px;">
            <RadzenCard class="rz-background-color-primary-light rz-shadow-0 rz-border-radius-0 rz-p-8" style="margin: 1rem calc(-1 * var(--rz-card-padding));">
                <RadzenText TextStyle="TextStyle.H6" class="rz-color-on-primary-light"><strong>Cepi</strong></RadzenText>
                <RadzenRow RowGap="0">
                    <RadzenColumn SizeSM="4">
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light rz-display-flex rz-mt-4 rz-mb-0">
                            Contact:
                        </RadzenText>
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light rz-display-flex rz-mt-4 rz-mb-0">
                            E-Mail:
                        </RadzenText>
                    </RadzenColumn>
                    <RadzenColumn SizeSM="4">
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light rz-display-flex rz-mt-4 rz-mb-0">+1(418)541-2205</RadzenText>
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light rz-display-flex rz-mt-4 rz-mb-0">aidecepi@Gmail.com</RadzenText>
                    </RadzenColumn>
                </RadzenRow>
            </RadzenCard>
        </RadzenCard>
    </RadzenColumn>

    <RadzenColumn>
        <RadzenCard Class="rz-my-12 rz-mx-auto" Style="max-width: 500px;">
            <RadzenCard class="rz-background-color-primary-light rz-shadow-0 rz-border-radius-0 rz-p-8" style="margin: 1rem calc(-1 * var(--rz-card-padding));">
                <RadzenText TextStyle="TextStyle.H6" class="rz-color-on-primary-light"><strong>Copyright</strong></RadzenText>
                <RadzenRow RowGap="0">
                    <RadzenColumn SizeSM="4">
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light rz-display-flex rz-mt-4 rz-mb-0">
                            <RadzenIcon Icon="copyright" class="mr-2 custom-footer-icon" />
                            <span>2023 CEPI</span>
                        </RadzenText>
                    </RadzenColumn>
                </RadzenRow>
            </RadzenCard>
        </RadzenCard>
    </RadzenColumn>

    <RadzenColumn>
        <RadzenCard Class="rz-my-12 rz-mx-auto" Style="max-width: 500px;">
            <RadzenCard class="rz-background-color-primary-light rz-shadow-0 rz-border-radius-0 rz-p-8" style="margin: 1rem calc(-1 * var(--rz-card-padding));">
                <RadzenText TextStyle="TextStyle.H6" class="rz-color-on-primary-light"><strong>Nos partenaires</strong></RadzenText>
                <RadzenRow RowGap="0">
                    <RadzenColumn SizeSM="4">
                        <RadzenImage Path="/RessourceVisuel/LogoCegep.jpg" class="custom-footer-image" />
                        <RadzenImage Path="/RessourceVisuel/LogoDICJ.jpg" class="custom-footer-image" />
                    </RadzenColumn>
                </RadzenRow>
            </RadzenCard>
        </RadzenCard>
    </RadzenColumn>
</RadzenRow>

@code {

}
 *@