@using STIMULUS_V2.Client.Shared.DataGrid
@using STIMULUS_V2.Shared.Interface.ChildInterface;
@using STIMULUS_V2.Shared.Models.Entities;

@inject ICoursService CoursService

@page "/GestionnaireCours"

<div class="mainGrid">
    <InlineGrid TModel="Cours" TKey="int" data="coursList" count="count" isLoading="isLoading" OnLoadData="LoadData" gridTitle="Gestionnaire des Cours" />
</div>

@code {
    private RadzenDataGrid<Cours> coursGrid;
    private IEnumerable<Cours> coursList;
    private bool isLoading;
    private int count;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        coursList = Enumerable.Empty<Cours>().ToList();

        await LoadData();
    }

    private async Task LoadData()
    {
        isLoading = true;

        try
        {
            var result = await CoursService.GetAll();

            coursList = result.Data.AsODataEnumerable().ToList();
            //grapheList = grapheList.OrderByDescending(d => d.Nom).ToList();

            count = coursList.Count();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }

        isLoading = false;
    }
}
