@using Microsoft.AspNetCore.Components.Authorization
@using STIMULUS_V2.Client.Services;
@using STIMULUS_V2.Shared.Models.Entities;
@using System.Text.Json;
@using System.Net;
@using Radzen.Blazor;
@using Radzen;
@using STIMULUS_V2.Client.Shared.HomeComponent
@using STIMULUS_V2.Shared.Interface.ChildInterface;


@inject AppState State;

@inject ICoursService coursService

@page "/"

<div class="container text-center">
    <h1 class="display-4">Bienvenue sur STIMULUS_V2</h1>
    <p class="lead">Votre plateforme d'apprentissage en ligne.</p>
</div>

<div>
    <AuthorizeView Roles="ADMIN">
        <HomeAdminComponent />

        @{
            State.Indentifiant = context.User.Identity!.Name;
        }

    </AuthorizeView>
    <AuthorizeView Roles="PROFESSEUR">
        <HomeTeacherComponent />

        @{
            State.Indentifiant = context.User.Identity!.Name;
        }
    </AuthorizeView>

    <AuthorizeView Roles="ETUDIANT">
        <HomeStudentComponent />

        @{
            State.Indentifiant = context.User.Identity!.Name;
        }
    </AuthorizeView>
</div>

@code {

}
