@using Microsoft.AspNetCore.Components.Authorization
@using STIMULUS_V2.Shared.Interface.ChildInterface;
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject AppState State;
@inject AuthenticationStateProvider authStateProvider

<div class="container text-center">
    <h1 class="display-4">Bienvenue sur STIMULUS_V2</h1>
    <p class="lead">Votre plateforme d'apprentissage en ligne.</p>
    <AuthorizeView Roles="PROFESSEUR">
        <p class="lead">Vous êtes un Professeur</p>
        @{
            State.Identifiant = context.User.Identity!.Name;           
        }
    </AuthorizeView>
    <AuthorizeView Roles="ETUDIANT">
        <p class="lead">Vous êtes un Étudiant</p>
        @{
            State.Identifiant = context.User.Identity!.Name;
        }
    </AuthorizeView>
    <AuthorizeView Roles="ADMIN">
        <p class="lead">Vous êtes un Administrateur</p>
        @{
            State.Identifiant = context.User.Identity!.Name;
        }
    </AuthorizeView>
</div>

@code {

}
