@page
@model STIMULUS_V2.Server.Pages.ErrorModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Error</title>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/app.css" rel="stylesheet" asp-append-version="true" />
</head>

<body>
    <div class="main">
        <div class="content px-4">
            <h1 class="text-danger">Erreur.</h1>
            <h2 class="text-danger">Une erreur s'est produite lors du traitement de votre demande.</h2>

            @if (Model.ShowRequestId)
            {
                <p>
                    <strong>Numéro de demande :</strong> <code>@Model.RequestId</code>
                </p>
            }

            <h3>Mode de développement</h3>
            <p>
                Passer au <strong>Développement</strong>L'environnement affiche des informations détaillées sur l'erreur survenue.
            </p>
            <p>
                <strong>L'environnement de développement ne doit pas être activé pour les applications déployées.</strong>
                Cela peut entraîner l’affichage d’informations sensibles provenant d’exceptions aux utilisateurs finaux.
                Pour le débogage local, activez l'environnement <strong>Développement</strong> en définissant la variable d'environnement <strong>ASPNETCORE_ENVIRONMENT</strong> sur <strong>Développement</strong>.
                et redémarrer l'application.
            </p>
        </div>
    </div>
</body>

</html>
