/*Cette section concerne l'ensemble du header*/
.custom-header-background {
    background-color: #394867;
}

#logo-container-header {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #394867;
}

.custom-header-radzen-breadcrumb {
    font-size: smaller;
    font-weight: bolder;
}

.custom-header-logoutbutton {
    background-color: #FFFFFF;
    border: none;
}

.custom-header-title{
    font-family: Oswald;
}

.custom-header-cepi {
    font-family: Oswald;
    color: white;
    font-size: x-large;
    margin-right: 90%;
    margin-top: 2%
}

.custom-header-subtitle{
    font-family: Comfortaa;
}

/*Cette section concerne l'ensemble du footer*/
.custom-footer-background {
    background-color: #394867;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 5px;
    bottom: 0;
    margin-top: 100%
}

.custom-footer-bigger-text {
    color: #FFFFFF;
    align-items: center;
    font-size: smaller;
    font-weight: bolder;
    text-align: center;
}

.custom-footer-smaller-text {
    color: #FFFFFF;
    align-items: center;
    font-weight: bolder;
    font-size: x-small;
    text-align: center;
}

.custom-footer-column-cepi {
    padding-right: 10%;
}

.custom-footer-column-cr {
    padding-left: 5%;
}

.custom-footer-text-partenaire {
    color: #FFFFFF;
    align-items: center;
    font-size: smaller;
    font-weight: bolder;
    text-align: center;
    padding-left: 20%;
}

.custom-footer-row-img {
    padding-left: 40%;
    padding-right: 10%;
}

.custom-footer-image {
    width: 35%;
    height: auto;
    border-radius: 10%;
}

.custom-footer-icon {
    font-size: 12px;
}

/*Cette section concerne l'ensemble du logo animé*/
#logo-container-loading {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #394867;
    margin-left: 50%;
    margin-top: 23%;
}

#animated-text {
    font-family: Oswald;
    font-size: xx-large;
    fill: #394867;
    stroke: #394867;
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
    font-weight: normal;
}

#logo-container-loading #animated-text {
    animation: stroke 2s infinite alternate;
}

@keyframes stroke {
    0% {
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
        font-weight: bold; 
    }

    70% {
        stroke: #394867;
    }

    80% {
        stroke-width: 3;
    }

    100% {
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
        font-weight: normal; 
    }
}

/*Cette section concerne l'ensemble du MenuSideBar*/
.custom-menusidebar-title{
    font-family: Oswald;
    font-size: larger;
}

.custom-menusidebar-subtilte{
    font-family: Comfortaa;
    font-size: small;
}

/*Cette section concerne l'ensemble de Login*/
.custom-login-background {
    display: flex;
    justify-content:center; 
    padding-top:7%;
    background: linear-gradient(360deg, hsla(215, 33%, 23%, 1) 5%, hsla(206, 31%, 90%, 1) 100%);
}

#logo-container-loadinginloading {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #394867;
}

#animated-text {
    font-family: Oswald;
    font-size: 20px;
    fill: #394867;
    stroke: #394867;
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
    font-weight: normal;
}

#logo-container-loadinginloading #animated-text {
    animation: stroke 2s infinite alternate;
}

@keyframes stroke {
    0% {
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
        font-weight: bold;
    }

    70% {
        stroke: #394867;
    }

    80% {
        stroke-width: 3;
    }

    100% {
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
        font-weight: normal; 
    }
}
