/*Cette section concerne l'ensemble du header*/
.custom-header-background {
    background-color: darkblue; 
}

.custom-header-radzen-breadcrumb {
    font-size: smaller;
    font-weight: bolder;
}

.custom-header-logoutbutton {
    background-color: #FFFFFF;
    border: none;
}

/*Cette section concerne l'ensemble du footer*/
.custom-footer-background {
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 5px;
    bottom: 0;
    margin-top: 100%
}

.custom-footer-bigger-text {
    color: #FFFFFF;
    align-items: center;
    font-size: smaller;
    font-weight: bolder;
    text-align: center;
}

.custom-footer-smaller-text {
    color: #FFFFFF;
    align-items: center;
    font-weight: bolder;
    font-size: x-small;
    text-align: center;
}

.custom-footer-column-cepi {
    padding-right: 10%;
}

.custom-footer-column-cr {
    padding-left: 5%;
}

.custom-footer-text-partenaire {
    color: #FFFFFF;
    align-items: center;
    font-size: smaller;
    font-weight: bolder;
    text-align: center;
    padding-left: 20%;
}

.custom-footer-row-img {
    padding-left: 40%;
    padding-right: 10%;
}

.custom-footer-image {
    width: 35%;
    height: auto;
    border-radius: 10%;
}

.custom-footer-icon {
    font-size: 12px;
}
/*POUR LE LOGO ANNIMÉ*/
#logo-container {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#animated-text {
    animation: stroke 5s infinite alternate; /* ajustez la durée de l'animation */
    stroke-width: 2;
    font-size: 20px;
}

@keyframes stroke {
    0% {
        fill: white;
        stroke: darkblue;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }

    70% {
        fill: white;
        stroke: darkblue;
    }

    80% {
        fill: white;
        stroke: darkblue;
        stroke-width: 3;
    }

    100% {
        fill: white;
        stroke: darkblue;
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }
}
