/*Modification footer*/
.custom-footer-background {
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 5px; 

}

.custom-footer-bigger-text {
    color: #FFFFFF;
    align-items: center;
    font-size: smaller;
    font-weight: bolder;
    text-align: center;
}

.custom-footer-smaller-text {
    color: #FFFFFF;
    align-items: center;
    font-weight: bolder;
    font-size: x-small;
    text-align: center;
}

.custom-footer-column-cepi {
    padding-right: 10%;
}

.custom-footer-column-cr {
    padding-left: 5%;
}

.custom-footer-text-partenaire {
    color: #FFFFFF;
    align-items: center;
    font-size: smaller;
    font-weight: bolder;
    text-align: center;
    padding-left: 20%;
}

.custom-footer-row-img {
    padding-left: 40%;
    padding-right: 10%;
}

.custom-footer-image {
    width: 35%;
    height: auto;
    border-radius: 10%;
}

.custom-footer-icon {
    font-size: 12px;
}
