/*Cette section concerne l'ensemble des composants graphe*/
.custom-graphe-zoom-button {
    border-radius: 25%;
    margin-left: 1%;
    background-color: #14274E;
    font-family: Oswald;
}

.custom-graphe-zoomout-button {
    border-radius: 25%;
    background-color: #14274E;
    font-family: Oswald;
}

.custom-graphe-reset-button {
    border-radius: 25%;
    background-color: #14274E;
}

.custom-graphe-foreignobject-bg{
    background-color: transparent;
}

.custom-graphe-legend-color-position{
    display: flex;
    text-align: center;
}

.custom-graphe-legend-color-size{
    margin-top: 2%;
    margin-left: 1%;
    height: 10px;
    width: 10px;
}

.custom-graphe-legend-panel {
    margin-left: 8%;
    padding: 0px;
}

.custom-graphe-legend-stack {
    border: solid;
    border-color: #14274E;
}

.custom-graphe-viewmodebutton-title {
    font-family: Oswald;
}

.custom-graphe-legend-title {
    margin-top: 1%;
    font-family: Oswald;
    font-size: larger;
}

.custom-graphe-legend-subtitle {
    margin-top: 1%;
    font-family: Comfortaa;
}

.custom-grapheprof-selectuser-title {
    font-family: Oswald;
    font-size: larger;
}

.custom-grapheprof-selecteduser-title {
    font-family: Comfortaa;
    font-size: large;
}