.custom-header-background {
/*    background-color: darkblue;
*/}

.custom-header-image {
    width: 75px;
    height: 25px;
    vertical-align: baseline;
}

.custom-header-radzen-breadcrumb{
    font-size:smaller;
    font-weight:bolder;
}
