/*Cette section comporte l'ensemble des composants Home*/
.custom-home-spacing {
    padding-top: 10%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.custom-home-title {
    font-family: Oswald;
    color: #14274E;
}

.custom-home-subtitle {
    font-family: Comfortaa;
    color: #14274E;
}

/*Cette section comprend l''ensemble du composant HomeStudent*/
.custom-homestudent-title {
    font-family: Oswald;
    color: #F1F6F9;
}

.custom-homestudent-subtitle {
    font-family: Comfortaa;
    color: #F1F6F9;
}

.custom-homestudent-background {
    background-image: url('/RessourceVisuel/gradiant.png');
}

.custom-homestudent-searchbar {
    border-radius: 50px;
    border-color: #14274E;
    overflow: hidden;
    display: inline-block;
    width: 200%;
    height: 5%;
    color: #9BA4B4;
    font-family: Oswald;
}

.custom-homestudent-role-text{
    padding-top: 1%;
}

.custom-homestudent-help-text a {
    color: #F1F6F9;
    text-decoration: underline;
    transition: color 0.3s ease;
    padding-top: 0%;
}

    .custom-homestudent-help-text a:hover {
        color: #000080;
        text-decoration: underline;
    }

.custom-homestudent-searchbar-container {
    padding-right: 14%;
    position: relative;
    display: inline-block;
}
.custom-homestudent-wave-effect-color {
    padding: 0;
    margin: 0;
    height: 20%
}

.custom-homestudent-wave-effect-color .shape-fill {
    fill: #F1F6F9;
    height: 30%;
}

.custom-homestudent-search-icon {
    position: absolute;
    top: 50%;
    left: 85%; /* Ajustez la position selon vos besoins */
    transform: translateY(-50%);
    color: #9BA4B4;
    cursor: pointer;
}

/*Cette section comprend l'ensemble du composant HomeTeacher*/
.box-display {
    text-align: center;
    align-items: center;
    background-color: lightgrey;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
