/*Cette section prend en charge l'esemble des composants TheoryComponent*/
.custom-theory-title-text-letter {
    margin-left: 1%;
}

.custom-theory-texte-letter{
    padding-left: 45%;
    
}

.custom-theory-button {
    padding-top: 1%;
    padding-left: 1%;
    width: 15%;
}

.custom-theory-menu {
    padding-top: 1%;
    padding-left: 1%;
}

.custom-theory-backbutton {
    margin-left: 2%;
    width: 15%;
}

.custom-theory-save-button{
    margin-left: 2%;
    width: 15%;
}

/*Cette section prend en charge le composant TextComponent*/
.custom-theory-textbox-border {
    border: none;
}

/*Cette section prend en charge le composant VideoComponent*/
.custom-theory-video {
    padding-left: 2%;
}
