.loading-overlay {
    backdrop-filter: blur(3px);
    background: rgba(0, 0, 0, 0.5); /* Couleur semi-transparente plus foncée */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Niveau de z-index pour s'assurer que l'overlay est au-dessus de tout le contenu */
}
