<div class="custom-container custom-homestudent-background">
    <div class="container text-center">
        <h1 class="custom-homestudent-title">Apprenez sur Stimulus!</h1>
        <p class="custom-homestudent-subtitle">L'application utilisée partout au cégep de Jonquière</p>
        <div class="custom-home-spacing" style="margin-bottom:80px;">
            <div class="container text-center">
                <div class="custom-homestudent-searchbar-container">
                    <span class="material-icons custom-homestudent-search-icon">search</span>
                    <RadzenTextBox class="custom-homestudent-searchbar" Placeholder="Rechercher..."   />
                </div>
                <div class="custom-homestudent-role-text">
                    <p class="lead custom-homestudent-title">Vous êtes un étudiant</p>
                </div>
                <div class="custom-homestudent-help-text">
                    <a href="/aide" class="custom-homestudent-subtitle">Besoin d'aide pour commencer?</a>                    
                </div>                
            </div>           
        </div>    
    </div>
    <div class="custom-homestudent-wave-effect-color">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 150" preserveAspectRatio="none" width="100%">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
    </div>
    
</div>

@code {

}
