<div class="container text-center">
    <h1 class="custom-home-title">Bienvenue sur Stimulus!</h1>
    <div class="container text-center">
        <p class="lead custom-home-subtitle">Vous êtes un administrateur</p>
    </div>
</div>

@code {

}
