

<div class="container text-center"> 
	<h3>Composant image</h3>
	<RadzenStack AlignItems="AlignItems.Center">
		<RadzenImage Path="/RessourceVisuel/LogoCegep.jpg" Style="width: 15rem" />
	</RadzenStack>
</div>


@code {

}
