<div class="container text-center">
	<h3 class="custom-theory-video">Composant vidéo</h3>
	<iframe width="600" height="350" style="padding-left:1%;" src="https://www.youtube.com/embed/GHTA143_b-s" frameborder="0" allowfullscreen></iframe>
</div>

@code {

}
